[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==1.0.0"
asgiref = "==3.5.1"
attrs = "==21.4.0"
cycler = "==0.11.0"
distlib = "==0.3.4"
django-crispy-forms = "==1.14.0"
django-hvad = "==1.8.0"
django-parler = "==2.3"
filelock = "==3.6.0"
fonttools = "==4.33.3"
kiwisolver = "==1.4.2"
matplotlib = "==3.5.2"
mediapipe = "==0.8.10"
numpy = "==1.22.3"
opencv-contrib-python = "==4.5.5.64"
platformdirs = "==2.5.2"
protobuf = "==3.20.1"
pyparsing = "==3.0.8"
python-dateutil = "==2.8.2"
six = "==1.16.0"
sqlparse = "==0.4.2"
tzdata = "==2022.1"
virtualenv = "==20.14.1"
virtualenv-clone = "==0.5.7"
Django = "==4.0.4"
Pillow = "==9.1.0"
gunicorn = "==19.9.0"

[dev-packages]

[requires]
python_version = "3.9"
